{% extends 'main/base.html' %}

{% block title %}Bandeja de Entrada{% endblock %}

{% block content %}
<h1>Bandeja de Entrada</h1>
{% if messages_received %}
    <ul>
        {% for message in messages_received %}
            <li>
                <strong>De:</strong> {{ message.sender.username }}<br>
                <strong>Fecha:</strong> {{ message.timestamp }}<br>
                <strong>Mensaje:</strong> {{ message.content }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tienes mensajes en tu bandeja de entrada.</p>
{% endif %}
{% endblock %}